.switch {
  position: relative;
  width: 28px;
  height: 14px;
  top: 4px;
  left:25px;
}
.switch-in {
  position: relative;
  width: 28px;
  height: 14px;
  margin: 0 auto;
  cursor: pointer;
}
.switch-in .switch-bg {
  width: 28px;
  height: 14px;
  background: #28c54d;
  border-radius: 14px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
 .switch-in .switch-cir {
  position: absolute;
  right: 1px;
  top: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}
.unchoose .switch-bg {
  background: #dcdcdc;
}
 .unchoose .switch-cir {
 position: absolute;
  top: 1px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  right: 15px;
}
/*模拟checkbox*/
.check_box{
  float: left;
  width: 13px;
  height: 13px;
  border:1px solid #cccccc;
}
.check_swich{
  display: none;
}
.check_val{
  display: none;
}
.switch .checker span{
  display: none;
}
.txt{
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
.check_box .tick{
  display: block;
  width: 9px;
  height: 8px;
  margin-left: 1px;
  margin-top: 2px;
  background: url(http://img1.40017.cn/cn/new_ui/airplane/order_center/orderdetail/check_box.png) no-repeat;
}
.list{
  list-style: none;
} 
.list li{
  overflow: auto;
}
/*编辑按钮*/
.edit{
  width: 20px;
  height: 20px;
  background: url(../img/editor.png) no-repeat;
  float: left;
  background-size: 100% 100%;
  cursor: pointer;
}
/*限制内容长度*/
.limt_length{
  max-width: 120px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}