<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc" 
	   xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 全局context类配置 -->
	<mvc:default-servlet-handler />
	<!-- 激活自动代理功能 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	<!-- 启动注解扫描 -->
	<mvc:annotation-driven />
    <!--默认跳转路径 -->
    <mvc:view-controller path="/" view-name="redirect:/login.html" />
	<context:component-scan base-package="com.imau.admin"></context:component-scan>
    <!-- start视图配置 -->
    <!-- start视图配置 -->
    <!-- 配置静态资源，直接映射到对应的文件夹，不被DispatcherServlet处理 -->
    <mvc:resources mapping="/css/**" location="/static/css/" />
    <mvc:resources mapping="/js/**" location="/static/js/" />
    <mvc:resources mapping="/img/**" location="/static/img/" />
    <mvc:resources mapping="/fonts/**" location="/static/fonts/" />
    <!--<mvc:resources mapping="/swf/**" location="/static/swf/" />-->
	<!-- start视图配置 -->
        <!-- 配置velocity引擎 -->
        <bean id="velocityConfigurer"
              class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
            <property name="resourceLoaderPath" value="/WEB-INF/views/" /><!-- 模板存放的路径 -->
            <property name="configLocation" value="classpath:velocity/velocity.properties" />
        </bean>
        <!-- 配置视图的显示 -->
        <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
            <property name="prefix" value="page/" /><!-- 视图文件的前缀，即存放的路径 -->
            <property name="suffix" value=".vm" /><!-- 视图文件的后缀名 -->
          <!--  <property name="toolboxConfigLocation" value="/WEB-INF/tools.xml" /> --><!--toolbox配置文件路径-->
            <property name="dateToolAttribute" value="date" /><!--日期函数名称-->
            <property name="numberToolAttribute" value="number" /><!--数字函数名称-->
            <property name="contentType" value="text/html;charset=UTF-8" />
            <property name="exposeSpringMacroHelpers" value="true" /><!--是否使用spring对宏定义的支持-->
            <property name="exposeRequestAttributes" value="true" /><!--是否开放request属性-->
            <property name="requestContextAttribute" value="rc"/><!--request属性引用名称-->
            <property name="layoutUrl" value="layout/default.vm"/><!--指定layout文件-->
        </bean>
	<!-- end视图配置 -->
	<!-- 全局context类配置 -->
</beans>